/* body */

body{
  margin:0px;
  padding: 0px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 30%, rgba(0,0,0,0.15) 70%);
  background-blend-mode: multiply,multiply;
}


/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.header{
  background: #222831;
  padding: 0px;
}

.logo{
  position: relative;
  top: 30px;
  cursor: pointer;
  margin-left: 20px;
}

.li{
  margin-left: 875px;
}

.links{
  list-style: none;
}

li, a{
  text-align: right;
  text-decoration: none;
  font-family: 'Share Tech Mono';
  font-weight: 400;
  font-size: 25px;
  color: #a3f7bf;
  position: relative;
  bottom: 25px;
}

.links li{
  display: inline-block;
  padding: 0px 15px;
}

.links li a{
  transition: all 0.3s ease 0s;
}

.links li a:hover {
  color: #29a19c;
}

/* Images */

.header{
  height: 175px;
}

.pumpkins{
  margin-left: 5px;
  filter: grayscale(100%);
}

.fish{
  margin-left: 3px;
  filter: grayscale(100%);
}

.apple{
  margin-left: 3px;
  filter: grayscale(100%);
}

.donut{
  margin-left: 3px;
  filter: grayscale(100%);
}

.shopping{
  margin-left: 3px;
  filter: grayscale(100%);
}

.pumpkins:hover{
  margin-left: 5px;
  filter: grayscale(0%);
  transition: all 0.4s ease 0s;
}

.fish:hover{
  margin-left: 3px;
  filter: grayscale(0%);
  transition: all 0.4s ease 0s;
}

.apple:hover{
  margin-left: 3px;
  filter: grayscale(0%);
  transition: all 0.4s ease 0s;
}

.donut:hover{
  margin-left: 3px;
  filter: grayscale(0%);
  transition: all 0.4s ease 0s;
}

.shopping:hover{
  margin-left: 3px;
  filter: grayscale(0%);
  transition: all 1s ease 0s;
}

.images{
  display: flex;
}

/* content */

.content{
  display: flex;
  height: 1250px;
  width: 1750px;
  background: #393e46;
  margin-bottom: 50px;
  margin-top: 25px;
  position: relative;
  left: 75px;
  border: 2px solid #222831;
  border-radius: 50px;
  box-shadow: -39px 42px 19px 0px rgba(24,27,31,1);
}

table,td{
	border: 1px solid #222831;
	border-collapse: collapse;
	margin: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
}

table{
  width: 1500px;
  height: 500px;
}

.p2{
  height: 500px;
  width: 1500px;
  position: relative;
  left: 125px;
}

h1{
  color: white;
  text-align: center;
  font-family: 'Oxanium';
  font-size: 90px;
}

.p{
  text-align: center;
  color: white;
  font-family: 'Oxanium';
  font-size: 50px;
}

hr{
  width: 90%;
  color: #ffffff;
}

/* footer */

.footer{
    height: 70px;
    background: #222831;
    display: flex;
    margin-top: 100px;
}

.social{
  left: 100px;
  position: relative;
  top: 15px;
  display: flex;
}

.copyright{
  position: relative;
  left: 1150px;
  bottom: 10px;
  font-size: 25px;
  font-family: 'Oxanium';
  color: #ffffff;
}

/* fonts */

/* font-family: 'Trade Winds', ;
font-family: 'Share Tech Mono', ;
font-family: 'Oxanium', ;
font-family: 'Oswald', ; */
